<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.module.mapper.GoodMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, descrption, price, status, username, user_id, buy_name, buy_id, create_time, update_time, urls, type_id, is_deleted, is_second
    </sql>

    <select id="getGoodById" resultType="com.song.module.vo.GoodQueryVo">
        select
        <include refid="Base_Column_List"/>
        from good where id = #{id}
    </select>

    <select id="getGoodPageList" resultType="com.song.module.vo.GoodQueryVo">
        select
        <include refid="Base_Column_List"/>
        from good
    </select>

</mapper>
